html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

a {
    font-size: 11pt;
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    display: table;
    margin: 0 auto;
    padding: 5px
}

.gameText {
    font-size: 9pt;
    color: #004400;
    padding-left: 5px;
    position: absolute;
    z-index: 2;
}

#game-score-info {
    padding-top: 5px;
}

#level-number, #level-movings, #total-movings {
    font-weight: bold;
}

#game-info-background {
    background: #004400;
    opacity: 0.5;
}

#game-info {
    padding: 15px;
    border: 1px #004400 solid;
    background-color: rgba(0, 77, 0, 0.7);
    font-size: 12pt;
    color: white;
    position: absolute;
    z-index: 2;
    visibility: hidden;
}

#game-canvas {
    background-color: rgb(90%, 90%, 100%);
    border: none;
    z-index: 1;
}
